h1{
    color: brown;
}
h2{
    color: goldenrod;
}
p{
    color: black;
}
button{
    color: blue;
}
body{
    background: url(https://tse2.mm.bing.net/th?id=OIP.UYB1-axFrucPwjJUBMdK6wHaFT&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
    
}