h1{
    color: blueviolet;
}
p{
    color: black;
}
body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Godd223PzZBcZeSQxwSgrAPVb2gjUzhMOA&s);
    background-repeat: no-repeat;
    background-size: cover;
}